<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowTextColors</key>
	<false/>
	<key>CFBundleGetInfoString</key>
	<string>0.2</string>
	<key>CFBundleIdentifier</key>
	<string>prettysimple.style</string>
	<key>CFBundleName</key>
	<string>Pretty Simple</string>
	<key>DefaultBackgroundIsTransparent</key>
	<true/>
	<key>DefaultFontFamily</key>
	<string>Gill Sans</string>
	<key>DefaultFontSize</key>
	<integer>13</integer>
	<key>DefaultVariant</key>
	<string>Default</string>
	<key>MessageViewVersion</key>
	<integer>4</integer>
	<key>ShowsUserIcons</key>
	<false/>
</dict>
</plist>
